/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define SYMB 1
#define NUMS 2
#define ACCENT 3
#define GAMES 4
#define FUNCTION 5

// decimal HID code to keypress macro
// see https://github.com/zmkfirmware/zmk/blob/94789a092c6d8ddf5ab5ad88eb011a4ece6b5cee/app/include/dt-bindings/zmk/hid_usage_pages.h
#define KEYPRESS_FROM_HID(hidcode) ((7 << 16) | hidcode)

// usb-hid scancodes from their usual keycode equivalent
#define K26 KEYPRESS_FROM_HID(0x2f)
#define K27 KEYPRESS_FROM_HID(0x30)
#define K40 KEYPRESS_FROM_HID(0x34)
#define K41 KEYPRESS_FROM_HID(0x35)
#define K43 KEYPRESS_FROM_HID(0x31)
#define K53 KEYPRESS_FROM_HID(0x38)
#define K86 KEYPRESS_FROM_HID(0x64)


/ {
    macros {
        caret: caret {
            compatible = "zmk,behavior-macro";
            label = "caret";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp SPACE>;
            tap-ms = <30>;
            wait-ms = <30>;
        };
        backtick_double: backtick_double {
            compatible = "zmk,behavior-macro";
            label = "backtick_double";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RIGHT_ALT>,
                <&macro_tap>,
                <&kp LEFT_BRACKET &kp LEFT_BRACKET>,
                <&macro_release>,
                <&kp RIGHT_ALT>;

            tap-ms = <30>;
            wait-ms = <30>;
        };
    };

    behaviors {
        // change layer when hold, sticky layer when tapped
        mo_sticky: behavior_move_sticky {
            compatible = "zmk,behavior-hold-tap";
            label = "mo_tog";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&sl>;
        };
        // apply modifier when hold, sticky modifier when tapped
        kp_sticky: behavior_key_sticky {
            compatible = "zmk,behavior-hold-tap";
            label = "mo_tog";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&sk>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // <tab>     B         É         P       O       W
                &kp TAB   &kp B   &kp K53   &kp P   &kp O   &kp W              
                // <accent>   V        D         L       J       <bsp>
                &sl ACCENT  &kp V   &kp D     &kp L   &kp J    &kp BSPC

                // <escape> -> <ctrl>     A       U       I       E      ,
                &mt LCTRL ESCAPE       &kp A   &kp U   &kp I   &kp E  &kp COMMA
                // C        T       S       R       N       M
                &kp C      &kp T   &kp S   &kp R   &kp N   &kp M

                // :          Z       Y       X       .          '
                &kp COLON   &kp Z   &kp Y   &kp X   &kp DOT   &kp LS(COMMA)
                // K      Q       G       H       F       <enter>
                &kp K   &kp Q   &kp G   &kp H   &kp F    &kp ENTER

                // <alt>         <symbol>             <space>               <shift>           <super> 
                &kp LALT   &mo_sticky SYMB SYMB    &lt NUMS SPACE  &kp_sticky RSHIFT RSHIFT  &kp LEFT_WIN
                >;
        };

        symbol_layer {
            bindings = <
                //              !            @           #       $       %
                &trans       &kp EXCL      &kp AT  &kp HASH  &kp DLLR  &kp PRCNT
                // ^      &          *          (          )       <backspace>
                &caret  &kp AMPS  &kp STAR   &kp LPAR   &kp RPAR     &kp DEL

                // <caps>      [        ]            {          }           ; 
                &kp CAPS  &kp RA(N9)  &kp RA(N0)  &kp RA(N7)  &kp RA(N8)  &kp SEMI
                // <-       \/          /\        ->           |      <backslash>
                &kp LEFT  &kp DOWN    &kp UP  &kp RIGHT   &kp RA(K41)  &kp LS(K41)
                //                         =          +        -           ?
                &trans   &trans      &kp EQUAL  &kp PLUS   &kp MINUS   &kp LS(N6)
                // <--        ~           <              >           /      -->
                &kp HOME  &kp RA(K27)  &kp RA(COMMA)  &kp RA(DOT)  &kp K41  &kp END

                //                    
                &trans    &trans       &kp UNDERSCORE       &mo FUNCTION     &trans
                >;
        };
        

        num_layer {
            bindings = < 
                //          1          2       3        4       5
                &trans     &kp N1   &kp N2   &kp N3   &kp N4   &kp N5
                //  6       7        8        9        0      mute
                &kp N6    &kp N7   &kp N8   &kp N9   &kp N0    &kp BACKSPACE

                //                                          .       ,
                &trans  &trans   &trans     &trans      &kp DOT  &kp COMMA
                // <-       \/          /\      ->       
                &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans &trans

                //  
                &kp MINUS &trans &trans &trans &trans &trans
                &trans    &trans &trans &trans &trans &trans

                //
                &trans    &trans       &trans        &trans  &trans
                >;
        };

 
        accent_layer {
            bindings = <
                //              €               µ           °
                &trans &trans  &kp RA(E)   &kp RA(M)    &kp RA(SEMI)  &trans 
                // `                        diaresis       hat
                &backtick_double  &trans &kp LS(K26)   &kp K26   &trans   &trans   

                //         à         ù       ` accent      é 
                &trans  &kp K43   &kp K86   &kp RA(K26)  &kp K40  &trans
                //     ç
                &kp K27   &trans  &trans  &trans  &trans  &trans

                //                           
                &trans   &trans   &trans  &trans  &trans  &trans
                // empty
                &trans   &trans   &trans  &trans  &trans  &trans

                //
                &trans   &trans   &trans    &trans   &trans
                >;
        };


        gaming_layer {
            bindings = <
                //
                &kp   TAB   &trans   &trans   &kp W    &kp E    &trans
                //
                &trans      &trans   &kp UP   &trans   &trans   &trans

                //
                &kp ESCAPE    &trans     &kp A      &kp S       &kp D    &kp F
                //
                &trans        &kp LEFT   &kp DOWN   &kp RIGHT   &trans   &trans

                //
                &trans  &trans &trans &trans &trans &trans
                //
                &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOL_UP  &trans  &trans  &kp PRINTSCREEN

                // <disable>   <disable>           <maj>       <disable>
                &tog GAMES    &tog GAMES  &trans   &kp LSHIFT   &tog GAMES
                >;
        };


        function_layer {
            bindings = <
                // FUNCTION KEYS
                &kp F12  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  
                &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11 

                // output selection 
                &trans &out OUT_BLE &out OUT_USB &trans &trans &trans
                // bluetooth profile selection
                &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4   &bt BT_CLR

                //
                &tog GAMES   &none   &none   &none   &none   &none   
                &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOL_UP  &trans  &trans  &kp PRINTSCREEN

                //
                &none   &trans   &none   &none    &none
                >;
        };
    };
};
